{% load i18n %}
<div class="image-resize">
    <form>
        <h1>{% trans "Resize image" %}</h1>
        {% trans "New image name:" %}<br />
        <input name="new_name" type="text" class="wide">
        <input name="old_name" type="text" style="display:none;">
        {% trans "New image width" %}
        <input name="width" type="text"><br clear="both" />
        {% trans "New image height" %}
        <input name="height" type="text"><br clear="both" />
        {% trans "Lock aspect ratio" %}
        <input name="lock" type="checkbox" checked>
        <input name="ratio" style="display:none;" type="ratio">
        <br clear="both" />
        {% trans "Filter" %}
        <select name="filter">
            <option value="ANTIALIAS">{% trans "ANTIALIAS" %}</option>
            <option value="BICUBIC">{% trans "BICUBIC" %}</option>
            <option value="BILINEAR">{% trans "BILINEAR" %}</option>
            <option value="NEAREST">{% trans "NEAREST" %}</option>
        </select><br clear="both" />
        <input type="button" value="{% trans 'Close' %}" onclick="$('.image-resize').hide(); return false;">
        <input type="submit" value="{% trans 'Resize' %}">
        <span class="warning error"></span>
    </form>
</div>
