{% extends 'django_bfm/base.html' %}
{% load i18n %}
{% block title %}{% trans "Basic File Manager" %} - {% trans "Upload" %}{% endblock %}
{% block crumbs %} &rsaquo; {% trans "Upload" %} &rsaquo; /{{ current_dir }}{% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript">
        dir = "{{ current_dir }}";
        {% include 'django_bfm/upload.js' %}
    </script>
{% endblock %}

{% block content %}
    <table cellspacing="0" id="result_list">
        <thead>
            <tr>
                <th scope="col">{% trans 'Filename' %}</th>
                <th scope="col">{% trans 'Size' %}</th>
                <th scope="col">{% trans 'Transfer Speed' %}</th>
                <th scope="col">{% trans 'Progress' %}</th>
            </tr>
        </thead>
        <tbody id='filelist'>
        </tbody>
    </table>
    <div class="paginator">
        <div class="button action" id="step1">
            <span>{% trans 'Select files' %}</span>
            <form action="file/" method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                <input type="file" id='fileselection' multiple onchange="create_queue(this);" />
            </form>
        </div>
        <div class="button action" style="display:none" id="step2" onclick="start_upload()">{% trans 'Start Upload' %}</div>
        <div style="display: none" id="step3">
            <div class="button action" id="uploading">{% trans 'Uploading...' %}</div>
            <div class="button action" id="cancel" onclick="upload_stats.xhr.abort()">{% trans 'Cancel current file' %}</div>
        </div>
    </div>
{% endblock %}
