{% extends 'django_bfm/base.html' %}
{% block title %}Basic File Manager - Upload{% endblock %}
{% block crumbs %} &rsaquo; /{{ current_dir }} &rsaquo; Upload{% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript">
        dir = "{{ current_dir }}";
        {% include 'django_bfm/upload.js' %}
    </script>
{% endblock %}

{% block content %}
    <table cellspacing="0" id="result_list">
        <thead>
            <tr>
                <th scope="col">Filename</th>
                <th scope="col">Size</th>
                <th scope="col">Transfer speed</th>
                <th scope="col">Progress</th>
            </tr>
        </thead>
        <tbody id='filelist'>
        </tbody>
    </table>
    <div class="paginator">
        <div class="button action" id="step1">
            <span>Select files</span>
            <form action="file/" method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                <input type="file" id='fileselection' multiple onchange="create_queue(this);" />
            </form>
        </div>
        <div class="button action" style="display:none" id="step2" onclick="start_upload()">Start Upload</div>
        <div style="display: none" id="step3">
            <div class="button action" id="uploading">Uploading...</div>
            <div class="button action" id="cancel" onclick="upload_stats.xhr.abort()">Cancel current upload</div>
        </div>
    </div>
{% endblock %}
