/* Iconic */
@font-face {
  font-family: 'IconicStroke';
  src: url("iconic_stroke.eot");
  src: local('IconicStroke'),
  url("iconic_stroke.svg#iconic") format('svg'),
  url("iconic_stroke.otf") format('opentype');
}

a.iconic:hover {
  color:inherit;
}

.iconic.plus:before { font-family: "IconicStroke"; content: "+"; }
.iconic.link:before { font-family: "IconicStroke"; content: "/"; }
.iconic.image:before { font-family: "IconicStroke"; content: "?"; }
.iconic.fullscreen:before { font-family: "IconicStroke"; content: ":"; }
.iconic.exit-fullscreen:before { font-family: "IconicStroke"; content: ";"; }
.iconic.pin:before { font-family: "IconicStroke"; content: "|"; }
.iconic.tag:before { font-family: "IconicStroke"; content: "g"; }
.iconic.trash:before { font-family: "IconicStroke"; content: "t"; }
.iconic.x:before { font-family: "IconicStroke"; content: "x"; }

/* File Browser */

td.tight{
  width:1px;
  white-space:nowrap;
}

td.tight.icons{
  padding:0 5px;
  line-height:normal;
}

td.tight.icons .iconic{
  font-size:19px;
}

td.tight.icons .delete{
  color:#C00;
}

td.tight.icons .delete:hover{
  color:#F00;
}

td.tight.icons .touch, td.tight.icons .resize{
  color:#07C;
}

td.tight.icons .touch:hover, td.tight.icons .resize:hover{
  color:#09F;
}

td.tight.icons .rename{
  color:#C80;
}

td.tight.icons .rename:hover{
  color:#DA0;
}

/* Directory Browser */

.directory{
  display:block;
  overflow:hidden;
}

h2 a{
  color:#fff!important;
}

.directory.selected{
  border-left:5px solid #CCC;
  padding-left:5px;
  margin-left:-10px;
  color:#5B80B2!important;
}

/* ETC, Dialogs. */

.dialog{
  position:fixed;
  top:0;
  left:50%;
  z-index:10010;
  margin-left:-200px;
  width:400px;
  background:#fff;
  padding:5px;
  border:1px solid #ddd;
  border-top:none;
  overflow:hidden;
  border-radius:0 0 5px 5px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.dialog input[type=text]{
  width:390px;
}

.dialog h2{
  margin-top:.5em;
}

.block{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:none;
  background:rgba(0,0,0,.2);
  z-index:10005;
}

.contextmenu{
  position:absolute;
  padding:0;
  margin:0;
  border: 1px solid #CCC;
  background:#FFF;
  z-index:10010;
  border-radius:0 7px 7px;
  padding:7px 0;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.contextmenu li{
  list-style:none;
  padding:0;
}

.contextmenu li a{
  display:block;
  white-space: nowrap;
  padding:5px 10px;
}

.contextmenu li a:hover{
  background:#EDF3FE;
  cursor:pointer;
}

/* Uploader Applet */

.uploader{
  position:fixed;
  z-index:10000;
  width:162px;
  right:13px;
  bottom:0;
  overflow:hidden;
}

.uploader-head{
  background: #417690;
  color: #f4f379;
  font-size: 14px;
  padding:5px 5px 1px;
  border-radius:8px 8px 0 0;
  display:block;
  overflow:hidden;
  width:100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  line-height:22px;
}

.uploader-head .control{
  display:inline-block;
  float:right;
  font-size:22px;
}

.uploader-head .control:hover{
  color: #ffc;
}

.uploader-controls {
  overflow:hidden;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  border-top:none!important;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  padding:0!important;
  display:none;
  white-space:nowrap;
}

.uploader-controls a{
  border-right:1px solid #ccc;
  display:inline-block;
  height:18px;
  line-height:18px;
  padding:0 5px;
  margin:0!important;
  white-space:nowrap;
}

.uploader-controls form{
  position:relative;
  overflow:hidden;
  width:auto;
  display: inline-block;
}

.uploader-controls .selector>input[type='file']{
  position:absolute;
  top:0;
  left:0;
  opacity:0;
}

.uploader-controls .directory{
  display:none;
}

.uploader-table-container {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  height:100%;
  margin-top:-50px;
  padding-top:50px;
  display:none;
  z-index:-3;
  position:relative;
}

.uploader-table {
    position:relative;
    height:100%;
    background:#FFF;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    z-index:-2;
    overflow-y:auto;
}

.uploader-table .file{
  border-bottom: 1px solid #ccc;
  line-height: 20px;
  padding: 0 5px 0 20px;
  position: relative;
  font-size:11px;
  overflow:hidden;
}

@-moz-keyframes animated-bar {
 0%     {background-position:0 0;}
 100%   {background-position:-24px 0;}
}

@-webkit-keyframes animated-bar {
 0%     {background-position:0 0;}
 100%   {background-position:-24px 0;}
}

.uploader-table .file.current {
  background:url('active.png');
  -webkit-animation-duration:500ms;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name:animated-bar;
  -moz-animation-duration:500ms;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
  -moz-animation-name:animated-bar;
}

.uploader-table .file .status {
  position: absolute;
  background-color: #8DB600;
  height: 100%;
  width:0%;
  left: 0;
  top: 0;
  z-index:-1;
}

.uploader-table .file .indicators{
  font-size:10px;
  white-space: nowrap;
  float:right;
}

.uploader-table .file .failed{
  display:none;
  color:#DD4032;
  float:right;
}

.uploader-table .file .aborted{
  display:none;
  color:#FF9F00;
  float:right;
}

.uploader-table .file .abort{
  font-size:18px;
  left:5px;
  position:absolute;
}

.uploader-table .file .abort:hover{
  color:#F60;
}

.uploader-table .file a.filename{
  color:#555;
  text-decoration:underline;
}

.uploader-table .file a.filename:hover{
  color:#888;
}

.uploader-table .file .status{
  -webkit-transition: background 500ms ease-in-out;
  -moz-transition: background 500ms ease-in-out;
  -o-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
}

/* Fixing some glitches... */

td.tight.icons,
#changelist table thead th,
.directory,
.uploader-head .control,
.uploader-controls *{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer !important;
}

.directory-list ul{
  padding:0px;
}

.directory-list ul li{
  padding:0px;
}