{% load i18n %}

<script id="uploader_tpl" type="text/template">
    <div id="uploader-container">
    <header id="uploader-head">
        <div id="uploader-controls">
            <form class="action">
                <input type="file" multiple>
                <a class="icon upload-file"> {% trans "Upload file(s)" %}</a>
            </form>
            <form class="action" style="display:none;">
                <input type="file" webkitdirectory directory mozdirectory>
                <a class="icon upload-folder"> {% trans "Upload directory" %}</a>
            </form>
            <a class="action icon clear"> {% trans "Clear finished" %}</a>
        </div>
        <a id="toggle-uploader" class="icon upload"></a>
    </header>
    <div id="uploader-table-container">
        <section id="uploader-table">
        </section>
        <section id="uploader-droptarget">
            {% trans "Drop your files here" %}
        </section>
    </div>
    </div>
</script>

<script id="file_upload_tpl" type="text/template">
    <div class="file">
        <div class="controls">
            <a class="icon trash remove"></a>
            <a class="icon cancel abort"></a>
        </div>
        <div class="info">
            <div class="progress"></div>
            <a class="filename"><%= filename %></a>
        </div>
        <div class="status">
            <span class="percent">0 %</span>
            <span class="failed">{% trans "Failed" %}</span>
            <span class="aborted">{% trans "Aborted" %}</span>
        </div>
    </div>
</script>

<script id="upload_cancel_tpl" type="text/template">
    {% trans "Uploading in progress!" %}
</script>

<script id="uploader_droptarget" type="text/template">
    <div id="uploader-droptarget">
        {% trans "Drop files here!" %}
    </div>
</script>
